@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffdf5;
  overflow-x: hidden;
  cursor: crosshair;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fffdf5;
  border-left: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #ff90e8;
  border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffc900;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

